---
import Button from "../components/ui/Button.astro";
import Input from "../components/ui/Input.astro";
import Layout from "../layouts/Layout.astro";
if (Astro.locals.user) {
  return Astro.redirect("/");
}
---

<Layout title="Login | Galeria Rayuela">
  <div
    class="flex min-h-screen items-center justify-center bg-gray-100 text-primary"
  >
    <div class="w-full max-w-md bg-white p-8 rounded shadow">
      <h1 class="text-2xl text-text-title font-bold mb-4">Ingresar</h1>
      <form id="loginForm" class="space-y-4">
        <div>
          <Input
            placeholder="Introduce tu email"
            label="Email"
            className="border border-text"
            type="email"
            name="username"
            required
          />
        </div>
        <div>
          <Input
            placeholder="Contraseña"
            label="Contraseña"
            className="border border-text"
            type="password"
            name="password"
            required
          />
        </div>
        <div class="w-full flex ice items-center justify-end">
          <Button
            type="submit"
            class="w-full bg-blue-600 text-white p-2 rounded">Login</Button
          >
        </div>
      </form>
      <p id="error" class="text-red-500 mt-2 hidden"></p>
      <div class="mt-2 text-center">
        <a
          href="/register"
          class="text-blue-500 font-semibold text-xs hover:underline"
          >No tienes cuenta? Registrate</a
        >
      </div>
      <div class="mt-2 text-center">
        <a
          href="/contacto"
          class="text-blue-500 font-semibold text-xs hover:underline"
          >Necesitas ayuda?</a
        >
      </div>
    </div>
  </div>

  <script>
    const form = document.getElementById("loginForm") as HTMLFormElement;
    const error = document.getElementById("error");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      const data = Object.fromEntries(formData);

      const res = await fetch("/api/auth/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      });

      if (res.ok) {
        const json = await res.json();
        window.location.href = json.data?.redirect || "/dashboard";
      } else {
        const json = await res.json();
        if (error) {
          error.textContent = json.message || "Login failed";
          error.classList.remove("hidden");
        }
      }
    });
  </script>
</Layout>
