---
import { cn } from "../../utils/cn";
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<div
  class={cn(
    "p-6 border-t border-white/5 bg-white/5 flex items-center justify-between",
    className
  )}
>
  <slot />
</div>
